doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title= title
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-light.bg-light.navbar-expand-lg
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a(class='nav-link' href='/') Home
          li.nav-item
            a(class='nav-link' href='/about') About 
    .container
      block content
    script(src='/javascripts/main.js')
